:root {
    --primary-color-900: #4C8076;
    --primary-color-100: #D8E5E3;
    --accent-color-900: #EF8753;
    --accent-color-100: #FFF5EC;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#root {
    position: relative;
    height: 100%;
    width: 100%;
}
/* HEADER STYLES================================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    background: var(--primary-color-900);
    /* border: 1px solid red; */
}
.title-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.header h1,
.header p {
    margin: 0;
    padding: 0;
    color: var(--accent-color-100);
}
/* =============================================== */
/* GROUP BAR STYLES ============================== */
.group-bar {
    position: absolute;
    height: 40px;
    top: 120px;
    /* border: 1px solid blue; */
}
.group-bar ul {
    height: 40px;
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
}
.group-bar li{
    padding: 0 1em;
    margin: 0 2px;
    display: flex;
    align-items: center;
    background: var(--accent-color-100);

    /* border: 1px dotted blue; */
}
#group-bar-tab-recent {
    margin-left: 0;
}
.group-bar li:hover {
    color: white;
    cursor: pointer;
    background: var(--accent-color-900);
}
.group-bar-tab-active {
    color: white;
    background: var(--accent-color-900) !important;
}
/* =============================================== */
/* SIDEBAR STYLES ================================ */
.task-sidebar {
    position: absolute;
    top: 160px;
    width: 300px;
    height: 100vh;

    /* border: 1px solid lightgreen; */
}
.task-sidebar ul {
    margin: 20px;
    padding: 0;
    list-style: none;
}
/* sidebar item styles */
.sidebar-item {
    width: 100%;
    margin: 1em 0;
    display: flex;
    background: var(--primary-color-100);

    /* border: 1px solid red; */
}
#sidebar-item-accent {
    width: 15px;
}
#sidebar-item-content-container {
    width: 100%;
    margin-left: 10px;
}
#sidebar-item-control {
    width: 100%;
    display: flex;
    align-items: center;
}
#sidebar-item-group {
    margin: .5em 0;
}
#sidebar-item-remove-btn {
    margin-left: auto;
}
#sidebar-item-edit-btn {
    margin-right: .5em;
}

/* =============================================== */

/* MAIN CONTENT STYLES =========================== */
.content-container {
    position: fixed;
    top: 180px;
    left: 300px;
    right: 20px;

    display: flex;
    flex-direction: column;

    height: 300px;

    /* border: 1px dotted red; */
}
#add-task-form {
    width: 300px;
    height: 180px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: 1px dotted green; */
}
#add-task-form h2 {
    margin: 0;
    padding: 0;
}
#add-task-form label {
    margin-right: .25em;
}
#add-task-form input,
#add-task-form select {
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid black;
}
#add-task-form button {
    width: 75px;
    padding: .5em 1em;
    border: none;
    outline: none;
    cursor: pointer;
}
/* =============================================== */

/* MODAL STYLES=================================== */
.display-block {
    display: block;
}
.display-none {
    display: none;
}
/* add group modals */
.add-group-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    cursor: default;
    background: rgba(0, 0, 0, .5);
}
.add-group-window-content {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    height: 180px;
    width: 300px;

    background: var(--primary-color-900);
    color: var(--accent-color-100);
    box-shadow: 1px 1px 8px rgba(0,0,0,.5);
}
#add-group-form {
    margin-left: 1em;;
    display: flex;
    flex-direction: column;
}
#add-group-form input,
#add-group-form button {
    outline: none;
    border: none;
}
#add-group-form input {
    margin-left: 1em;
}
#add-group-form input[type=color] {
    height: 25px;
    width: 25px;
    background: none;
}
#group-input-container,
#color-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.add-group-window-content button {
    width: 75px;
    padding: .25em .25em;
    border: none;
    outline: none;
    cursor: pointer;
}
#add-group-window-control {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* =============================================== */