:root {
    --primary-color-900: #4C8076;
    --primary-color-100: #D8E5E3;
    --accent-color-900: #EF8753;
    --accent-color-100: #FFF5EC;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#root {
    position: relative;
    height: 100%;
    width: 100%;
}
/* HEADER STYLES================================== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    background: var(--primary-color-900);
    /* border: 1px solid red; */
}
.title-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.header h1,
.header p {
    margin: 0;
    padding: 0;
    color: var(--accent-color-100);
}
/* =============================================== */
/* GROUP BAR STYLES ============================== */
.group-bar {
    position: relative;
    height: 40px;
    top: 120px;
    /* border: 1px solid blue; */
}
.group-bar ul {
    height: 40px;
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
}
.group-bar li{
    padding: 0 1em;
    margin: 0 2px;
    display: flex;
    align-items: center;
    background: var(--accent-color-100);

    /* border: 1px dotted blue; */
}
#group-bar-tab-recent {
    margin-left: 0;
}
.group-bar li:hover {
    color: white;
    cursor: pointer;
    background: var(--accent-color-900);
}
.group-bar-tab-active {
    color: white;
    background: var(--accent-color-900) !important;
}
/* =============================================== */
/* SIDEBAR STYLES ================================ */
.task-sidebar {
    position: fixed;
    top: 160px;
    width: 300px;
    height: 100vh;

    /* border: 1px solid lightgreen; */
}
.task-sidebar ul {
    margin: 20px;
    padding: 0;
    list-style: none;
}
.sidebar-item {
    margin: 1em 0;
    background: var(--primary-color-100);

    /* border: 1px solid red; */
}
/* =============================================== */

/* MAIN CONTENT STYLES =========================== */
.content-container {
    position: fixed;
    top: 180px;
    left: 300px;
    right: 20px;
    

    background: red;
}
/* =============================================== */

/* MODAL STYLES=================================== */
.display-block {
    display: block;
}
.display-none {
    display: none;
}
/* add group modals */
.add-group-window {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 400px;

    background: white;
    cursor: default;

    box-shadow: 1px 1px 0 300vh rgba(0,0,0, .5);
    border: 1px solid pink;
}
.add-group-window-content {
    color: black;
}
.add-group-window-content button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
/* =============================================== */